:root{
  --prime-color: rgba(161, 117, 117, 0.5);
  --hover-color: rgba(20,30,150,0.8);
  --body-background: rgba(209, 201, 201, 1);
}

body {
    background-color: var(--body-background);
  }

.start {
  width: 400px;
  height: 400px;
  text-align: center;
  transition: 0.5s;
  background-color: var(--prime-color);
}

.start:hover{
  background-color: var(--hover-color);
}